---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Essays">
  <ul>
    <li>
      <a href="/essays/essay-1">On Speed</a> <span>— 2026-01-18</span>
    </li>
  </ul>
</BaseLayout>
