---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Essay 1">
  <h1>Essay title here</h1>
  <p><em>Date here (optional)</em></p>

  <p>Paste the essay text here.</p>
</BaseLayout>
